/* SideBar.module.css */
* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.SideBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
}
.SideBar h2 {
  color: white;
  font-weight: 600;
  font-size: 50px;
}
.SideBar button {
  margin-top: 40px;
  padding: 8px 16px;
  font-size: 25px;
  background-color: #3a3432;
  border: none;
  border-radius: 5px;
}
.SideBar button:hover {
  background-color: #a3a3a3b0;
  color: #fff;
}
