/* Home.module.css */

.Home_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transform: translateY(-20px);
}

.Home_wrapper img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.Home_wrapper h2 {
  font-size: 45px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.Home_wrapper p {
  font-size: 30px;
  color: gray;
  margin-bottom: 20px;
}

.Home_wrapper button {
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 25px;
  font-weight: 500;
  background-color: #292524;
  color: #fafaf9;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.Home_wrapper button:hover {
  color: #202020;
  background-color: #717171e2;
}
